@model Projecto_PrograVI_MVC.Models.AccountModel
@{ 
    ViewBag.Tilte = "Olvido Clave";

 }

<h2>Olvido Clave</h2>


@using (Html.BeginForm())
{
    if (ViewBag.Message != null)
    {
        <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }
    <div class="form-horizontal">
        <hr />
        <div class="text-success">
            @ViewBag.Message
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.VLSCorreo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VLSCorreo, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "Ingrese su correo" } })
                @Html.ValidationMessageFor(model => model.VLSCorreo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VLSCedula, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VLSCedula, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "Ingrese su cedula" } })
                @Html.ValidationMessageFor(model => model.VLSCedula, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VLSPreSeg, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VLSPreSeg, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "Ingrese Pregunta de Seguridad" } })
                @Html.ValidationMessageFor(model => model.VLSPreSeg, "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ForgotPassword" class="btn btn-success" />
            </div>
        </div>
    </div>
}


